//CSS Reset
*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//Container for all content
.container{
  max-width: 1200px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.main-background{
  width: 100%;
  background: aliceblue;
}
